auto-install-peers=false
engine-strict=true
ignore-scripts=true
link-workspace-packages=true
manage-package-manager-versions=true
prefer-frozen-lockfile=true
prefer-workspace-packages=true
save-exact=true
shared-workspace-lockfile=true
strict-dep-builds=true
strict-peer-dependencies=true
verify-store-integrity=true
