<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- 'installation-manifest.json InstallFiles PermissionEx ServiceControl' is the audited standard-table custody order. -->
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="Phase6InstallationManifestComponent" Guid="*">
        <File Id="Phase6InstallationManifestFile"
              Source="../../../../../apps/desktop/src-tauri/installer/physical-staging/installation-manifest.json"
              Name="installation-manifest.json"
              KeyPath="yes">
          <PermissionEx Sddl="D:P(A;;FA;;;SY)(A;;FR;;;S-1-5-80-2609031853-1645808008-1428639046-3057950850-171131564)" />
        </File>
      </Component>

      <Component Id="Phase6InstallationManifestSignatureComponent" Guid="*">
        <File Id="Phase6InstallationManifestSignatureFile"
              Source="../../../../../apps/desktop/src-tauri/installer/physical-staging/installation-manifest.json.p7s"
              Name="installation-manifest.json.p7s"
              KeyPath="yes">
          <PermissionEx Sddl="D:P(A;;FA;;;SY)(A;;FR;;;S-1-5-80-2609031853-1645808008-1428639046-3057950850-171131564)" />
        </File>
      </Component>

      <Component Id="OptimizerServiceComponent" Guid="*">
        <File Id="OptimizerServiceFile"
              Source="../../../../../apps/desktop/src-tauri/installer/physical-staging/liiiraa-optimizer-service.exe"
              Name="liiiraa-optimizer-service.exe"
              KeyPath="yes" />
        <ServiceInstall Id="OptimizerServiceInstall"
                        Name="LiiiraaBoostOptimizer"
                        DisplayName="Liiiraa Boost Optimizer"
                        Description="Privileged optimizer broker for Liiiraa Boost"
                        Type="ownProcess"
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="normal">
          <ServiceConfig ServiceSid="restricted" OnInstall="yes" OnReinstall="yes" />
        </ServiceInstall>
        <ServiceControl Id="OptimizerServiceControl"
                        Name="LiiiraaBoostOptimizer"
                        Start="install"
                        Stop="both"
                        Remove="uninstall"
                        Wait="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Phase6PhysicalRuntime">
      <ComponentRef Id="Phase6InstallationManifestComponent" />
      <ComponentRef Id="Phase6InstallationManifestSignatureComponent" />
      <ComponentRef Id="OptimizerServiceComponent" />
      <ComponentRef Id="phase6_physical_runner" />
    </ComponentGroup>
  </Fragment>
</Wix>
